<!-- <form action="/"  method=post


post[description]
Post.create(params[:post]) -->

<h1>Your post has been created!</h1>

<a href='/categories/<%= @cat_id %>'><input type="Submit" value="Return to Category"></a>
